* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #b9e0f0;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    /* color: #b0413e; */
    transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
    background-color: #ffffc7;
}

.box:active {
    transform: scale(0.95); /* Add scale transformation on button click */
}

.x-turn {
   
    color: yellow; /* Set the text color for X */
}

.o-turn {
    
    color: red; /* Set the text color for O */
}


#reset-btn{
    padding: 1rem;
    font-size: 1.20rem;
    background-color: #191923;
    color: #fff;
    border-radius: 1rem;
    border: none;
    transition: transform 0.2s ease-in-out;
}
#reset-btn:active{
    transform: scale(0.95);
}
#new-btn{
    padding: 1rem;
    font-size: 1.20rem;
    background-color: #191923;
    color: #fff;
    border-radius: 1rem;
    border: none;
    transition: transform 0.2s ease-in-out;
}
#new-btn:active{
    transform: scale(0.95);
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}

.msg-container{
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    gap: 2.9rem;
}

.hide{
    display: none;
}

